
.footer {
  background: $grey;
  color: #fff;
  text-align: center;
}

.footer .wrapper {
  padding: $base*2 0;
}

.footer a {
  color: #fff;
}

.footer-nav {
  margin-bottom: $base;
}

.footer-nav li {
  display: inline-block;

  @include bp-max-width($small) {
    width: 100%;
    margin-bottom: 6px;
  }

  @include bp-min-max($tiny, $small) {
    width: 46%;
  }

  @include bp-min-width($small) {
    margin: 0 20px;
  }
}

.footer-nav a {
  font-weight: $med;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.footer-contact,
.footer-sub-co {
  @include font-size(13px);
  margin-bottom: $base;
  font-weight: $med;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.footer-copyright {
  @include font-size(11px);
  letter-spacing: 0.1em;
}

.footer .bullet,
.footer .pipe {
  @include bp-max-width($small) {
    display: none;
  }
}

.footer-address,
.footer-phone,
.footer-fax,
.footer-credit {
  @include bp-max-width($small) {
    display: block;
  }
}