
.header {
  position: relative;
  padding: 16px 0;
}

.logo {
  float: left;

  @include bp-max-width($medium) {
    width: 200px;
    height: 48px;
  }

  @include bp-min-width($medium) {
    height: 60px;
  }
}

