
.main-nav {
  @include cf;

  @include bp-min-width($large) {
    float: right;
    padding-top: 16px;
  }
}

.main-nav .menu-main-menu-container {
  @include bp-max-width($large) {
    display: none;
    position: absolute;
    top: 92px;
    right: 0;
    z-index: 20;
    clear: both;
    width: 50%;
    background: $lt-blue;

    &.show {
      display: block;
    }
  }

  @include bp-max-width($medium) {
    top: 80px;
  }

  @include bp-max-width($xsmall) {
    width: 100%;
  }
}

.main-nav li {
  @include bp-min-width($large) {
    position: relative;
    float: left;
  }
}

.main-nav li:not(:first-child) {
  @include bp-min-width($large) {
    margin-left: 60px;
  }
}

.main-nav li a {
  @include font-size(17px);
  display: block;
  color: $blue;
  font-weight: $med;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include bp-max-width($large) {
    color: #fff;
    text-align: right;
  }

  @include bp-min-max($large, $xlarge) {
    letter-spacing: 0;
  }

  &:hover {
    @include bp-max-width($large) {
      color: #fff;
    }
  }
}

.main-nav li:not(:nth-child(2)) a {
  @include bp-max-width($large) {
    padding: 16px 26px;
    box-shadow: inset 0 -1px 1px -1px rgba(255,255,255,1);
  }
}

.main-nav li:nth-child(2) a {
  @include bp-max-width($large) {
    padding: 16px 26px 8px;
  }
}

.main-nav .menu > li > a {
  @include bp-min-width($large) {
    padding-bottom: 4px;
  }
}

.main-nav .menu > li:hover > a {
  @include bp-min-width($large) {
    box-shadow: 0 4px 0 $blue;
  }
}


.main-nav .current-menu-item > a,
.main-nav .current-menu-parent > a {
  @include bp-min-width($large) {
    box-shadow: 0 4px 0 $blue;
  }
}

/** Dropdown **/

.sub-menu {
  @include bp-min-width($large) {
    display: none;
    position: absolute;
    top: 27px;
    left: 0;
    z-index: 20;
    width: 260px;
    padding-top: 5px;
  }
}

.main-nav li li {
  float: none;
}

.main-nav li li:not(:first-child) {
  margin-left: 0;
}

.main-nav li:hover .sub-menu {
  @include bp-min-width($large) {
    display: block;
  }
}

.main-nav .sub-menu li a {
  padding: 8px 26px 0 26px;

  @include bp-max-width($large) {
    @include font-size(15px);
    font-weight: $reg;
  }

  @include bp-min-width($large) {
    display: block;
    padding: 16px 26px;
    background: $blue;
    color: #fff;
  }
}

.main-nav .sub-menu li:last-child a {
  @include bp-max-width($large) {
    padding-bottom: 16px;
  }
}

.main-nav .sub-menu li:not(:last-child) a {
  box-shadow: none;

  @include bp-min-width($large) {
    box-shadow: inset 0 -1px 1px -1px rgba(255,255,255,1);
  }
}

.main-nav li .sub-menu  a:hover {
  @include bp-min-width($large) {
    background: $lt-blue;
  }
}

/** Mobile Menu Button **/

.btn-mobile {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  padding: 26px 26px 0;
  color: $dk-grey;

  &.active {
    background: $lt-blue;
  }

  @include bp-min-width($medium) {
    padding-top: 32px;
  }

  @include bp-min-width($large) {
    display: none;
  }
}

.btn-mobile .icon-menu {
  position: relative;
  display: block;
  width: 34px;

  .bar {
    @include global-transition(0.1s);
    display: block;
    width: 34px;
    height: 6px;
    margin-bottom: 5px;
    background: $black;
  }

  &:nth-child(1) {
    transform: rotate(0);
  }

  &:nth-child(2) {
    transform: rotate(0);
  }

  &:nth-child(3) {
    opacity: 1;
  }
}

.btn-mobile.active .bar {
  position: absolute;
  top: 8px;
  left: 0;
  background-color: #fff;

  &:nth-child(1) {
    transform: rotate(45deg);
  }

  &:nth-child(2) {
    transform: rotate(-45deg);
  }

  &:nth-child(3) {
    opacity: 0;
  }
}
