
.main-nav {
  @include cf;

  @include bp-min-width($large) {
    float: right;
    padding-top: 16px;
  }
}

.menu-menu-1-container {
  @include bp-max-width($large) {
    display: none;
    position: absolute;
    top: 92px;
    right: 0;
    z-index: 20;
    clear: both;
    width: 50%;
    background: $lt-blue;

    &.show {
      display: block;
    }
  }

  @include bp-max-width($medium) {
    top: 80px;
  }

  @include bp-max-width($xsmall) {
    width: 100%;
  }
}

.main-nav li {
  @include bp-min-width($large) {
    float: left;
  }
}

.main-nav li:not(:first-child) {
  @include bp-min-width($large) {
    margin-left: 60px;
  }
}

.main-nav li a {
  @include font-size(17px);
  display: block;
  color: $blue;
  font-weight: $med;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include bp-max-width($large) {
    padding: 16px 26px;
    box-shadow: inset 0 0 1px 0 rgba(255,255,255,1);
    color: #fff;
    text-align: right;
  }

  &:hover {
    @include bp-max-width($large) {
      color: #fff;
    }

    @include bp-min-width($large) {
      box-shadow: 0 4px 0 $blue;
    }
  }
}

.main-nav .current-menu-item a {
  @include bp-min-width($large) {
    box-shadow: 0 4px 0 $blue;
  }
}


/** Mobile Menu Button **/

.btn-mobile {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  padding: 26px 26px 0;
  color: $dk-grey;
  
  &.active {
    background: $lt-blue;
  }
    
  @include bp-min-width($medium) {
    padding-top: 32px;
  }

  @include bp-min-width($large) {
    display: none;
  }
}

.btn-mobile .icon-menu {
  position: relative;
  display: block;
  width: 34px;

  .bar {
    @include global-transition;
    display: block;
    width: 34px;
    height: 6px;
    margin-bottom: 5px;
    background: $black;
  }

  &:nth-child(1) {
    transform: rotate(0);
  }
  
  &:nth-child(2) {
    transform: rotate(0);
  }
  
  &:nth-child(3) {
    opacity: 1;
  }
}

.btn-mobile.active .bar {
  position: absolute;
  top: 8px;
  left: 0;
  background-color: #fff;
  
  &:nth-child(1) {
    transform: rotate(45deg);
  }
  
  &:nth-child(2) {
    transform: rotate(-45deg);
  }
  
  &:nth-child(3) {
    opacity: 0;
  }
}
