
.main-nav {
  @include cf;

  @include bp-min-width($large) {
    float: right;
    padding-top: 16px;
  }
}

.menu-menu-1-container {
  @include bp-max-width($medium) {
    display: none;
    padding-top: $base;

    &.show {
      display: block;
      width: 100%;
      clear: both;
    }
  }
}

.main-nav li {
  @include bp-min-width($medium) {
    float: left;
    margin-left: 60px;
  }
}

.main-nav li a {
  @include font-size(17px);
  display: block;
  color: $blue;
  font-weight: $med;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include bp-max-width($medium) {
    padding: 12px;
    background: $blue;
    border-top: 1px solid $lt-blue;
    color: #fff;
  }

  &:hover {
    @include bp-max-width($medium) {
      color: #fff;
    }

    @include bp-min-width($medium) {
      box-shadow: 0 4px 0 $blue;
    }
  }
}

.main-nav .current-menu-item a {
  @include bp-min-width($medium) {
    box-shadow: 0 4px 0 $blue;
  }
}


/** Mobile Menu Button **/

.btn-mobile {
  display: block;
  float: right;
  padding: 12px $base;
  background: $blue;
  color: #fff;
  
  &.active {
    background: $lt-blue;
  }
    
  @include bp-min-width($medium) {
    display: none;
  }
}

.btn-mobile .menu-label {
  @include font-size(15px);
  margin-left: 6px;
  font-weight: $bold;
  text-transform: uppercase;
}

.btn-mobile .icon-menu {
  position: relative;
  display: inline-block;
  vertical-align: -2px;
  width: 20px;
  height: 16px;
  background: none;

  .bar {
    @include global-transition;
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
    background: #fff;
  }

  &:nth-child(1) {
    transform: rotate(0);
  }
  
  &:nth-child(2) {
    transform: rotate(0);
  }
  
  &:nth-child(3) {
    opacity: 1;
  }
}

.btn-mobile.active .icon-menu {
  height: 9px;
}

.btn-mobile.active .bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  
  &:nth-child(1) {
    transform: rotate(45deg);
  }
  
  &:nth-child(2) {
    transform: rotate(-45deg);
  }
  
  &:nth-child(3) {
    opacity: 0;
  }
}
