
.bottom-section {
  @include bp-min-width($medium) {
    padding: $base*3 5%;
    background: $lt-grey $bg-bottom no-repeat center center;
    background-size: cover;
  }
}

.bottom-section .wrapper {
  width: 100%;
  max-width: 1000px;
  padding: $base*2 5% $base*2.5;
  background: $lt-blue;
  color: #fff;
  text-align: center;

  @include bp-min-width($medium) {
    padding: $base*2 10% $base*2.5;
  }
}

.bottom-section p {
  @include font-size(24px);
  margin-bottom: $base;
  font-family: $gridnik;
  text-transform: uppercase;
  color: #fff;
  font-weight: $med;

  @include bp-min-width($medium) {
    @include font-size(30px);
    @include line-height(32px);
  }
}

.bottom-section li {
  display: inline-block;
}

.bottom-section li:not(:last-child) {
  margin-right: 14px;

  @include bp-min-width($small) {
    margin-right: 40px;
  }
}

.bottom-section li a {
  @include btn;
  @include btn-white-lt-blue;
}
