
.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.bx-wrapper img {
  display: block;
}

.bx-viewport {
  overflow: visible !important;
  -webkit-transform: translatez(0);
}

.home-hero .bx-controls,
.col-gallery-images .bx-controls {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 100;
}

.home-testimonials .bx-controls {
  width: 100%;

  @include bp-max-width($large) {
    position: absolute;
    top: 20px;
  }
  @include bp-min-width($large) {
    @include vertical-center(absolute);
  }
}

.bx-pager-item {
  float: left;
  margin-right: 12px;
}

.bx-pager-item a {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: $grey;
  text-indent: -9999em;
  
  &.active {
    background: $lt-grey;
  }
}

.bx-prev {
  float: left;
}

.bx-next {
  float: right;
}

.col-gallery-images .bx-pager-item a {
  display: block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #fff;
  text-indent: -9999em;
  
  &.active {
    background: $green;
  }
}
