
<a href="" class="btn-mobile">
  <span class="icon-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </span>
</a>

.sub-menu {
  @include bp-min-width($large) {
    display: none;
    position: absolute;
    top: 27px;
    left: 0;
    z-index: 20;
    width: 260px;
    padding-top: 5px;
  }
}

.main-nav li li {
  float: none;
}

.main-nav li li:not(:first-child) {
  margin-left: 0;
}

.main-nav li:hover .sub-menu {
  @include bp-min-width($large) {
    display: block;
  }
}

.main-nav .sub-menu li a {
  padding: 8px 26px 0 26px;

  @include bp-max-width($large) {
    @include font-size(15px);
    font-weight: $reg;
  }

  @include bp-min-width($large) {
    display: block;
    padding: 16px 26px;
    background: $blue;
    color: #fff;
  }
}

.main-nav .sub-menu li:last-child a {
  @include bp-max-width($large) {
    padding-bottom: 16px;
  }
}

.main-nav .sub-menu li:not(:last-child) a {
  box-shadow: none;

  @include bp-min-width($large) {
    box-shadow: inset 0 -1px 1px -1px rgba(255,255,255,1);
  }
}

.main-nav li .sub-menu  a:hover {
  @include bp-min-width($large) {
    background: $lt-blue;
  }
}
