
.hero {
  position: relative;
  background: $grey;

  @include bp-min-width($medium) {
    height: 600px;
  }
}

.hero .wrapper {
  @include bp-min-width($medium) {
    padding-top: $base*5;
  }
}

.hero h1,
.hero p {
  color: #fff;
}
