
.hero {
  position: relative;

  @include bp-min-width($medium) {
    height: 600px;
  }
}

.hero .wrapper {
  padding: $base*2 0;

  @include bp-min-width($medium) {
    padding-top: $base*5;
  }
}

.hero h1,
.hero p {
  color: #fff;
}

.hero h1 {
  max-width: 900px;
}
