
.col-content {
  padding: $base*2 5%;
  vertical-align: middle;

  @include bp-min-width($large) {
    height: $base*25;
  }
}

.col-image {
  @include bp-max-width($large) {
    height: 300px;
  }
}

.table-row-col-image-left {
  @include bp-max-width($large) {
    position: relative;
    padding-bottom: 300px;
  }
}

.table-row-col-image-left .col-image {
  @include bp-max-width($large) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.col-content h2 {
  margin-bottom: $base;

  @include bp-min-width($medium) {
    @include font-size(38px);
    @include line-height(46px);
  }
}