

.capabilities-section-1 .col-image {
  background: $blue;
}

.capabilities-section-1 h2 {
  color: $blue;
}

.capabilities-section-1 .col-content a {
  @include btn;
  @include btn-white-blue;
  @include btn-border-blue;
}

.capabilities-section-1 p,
.capabilities-section-1 li {
  margin-bottom: $base;
}

.capabilities-section-2 .col-image {
  background: $green;
}

.capabilities-section-2 h2 {
  color: $green;
}

.capabilities-section-3 .col-image {
  background: $red;
}

.capabilities-section-3 h2 {
  color: $red;
}

.capabilities-maps {
  position: relative;
  height: 440px;
  background: $lt-grey;
}

.capabilities-maps .section-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: $base*1.25 0;
  background: rgba($blue, 0.8);
  color: #fff;
  text-align: center;

  @include bp-min-width($medium) {
    @include font-size(38px);
    @include line-height(46px);
  }
}