
.hero-capabilities {
  background: $dk-grey $hero-capabilities no-repeat center center;
  background-size: cover;
}

.capabilities-section-1 .col-image {
  background: $blue $capabilities-01 no-repeat center center;
  background-size: cover;
}

.capabilities-section-1 h2 {
  color: $blue;
}

.capabilities-section-1 .col-content a {
  @include btn;
  @include btn-white-blue;
  @include btn-border-blue;
}

.capabilities-section-1 p,
.capabilities-section-1 li {
  margin-bottom: $base;
}

.capabilities-section-2 .col-image {
  background: $green $capabilities-02 no-repeat center center;
  background-size: cover;
}

.capabilities-section-2 h2 {
  color: $green;
}

.capabilities-section-3 .col-image {
  background: $red $capabilities-03 no-repeat center center;
  background-size: cover;
}

.capabilities-section-3 h2 {
  color: $red;
}

.capabilities-maps {
  @include cf;
  position: relative;
  background: $lt-grey;
}

.capabilities-maps .section-title {
  padding: $base*1.25 0;
  background: rgba($blue, 0.8);
  color: #fff;
  text-align: center;

  @include bp-min-width($medium) {
    @include font-size(38px);
    @include line-height(46px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.capabilities-maps [class^="map-"] {
  height: 300px;

  @include bp-min-width($medium) {
    float: left;
    width: 50%;
    height: $base*20;
  }

  @include bp-min-width($large) {
    height: $base*25;
  }
}

.map-usa {
  background: $capabilities-map-usa no-repeat center bottom;
  background-size: cover;
}

.map-china {
  background: $capabilities-map-china no-repeat center bottom;
  background-size: cover;
}

