
.home-hero .slide {
  padding-bottom: $base*4;

  @include bp-min-width($medium) {
    height: 600px;
  }
}

.home-hero .slide-1 {
  background: $blue $hero-home-01 no-repeat center center;
  background-size: cover;
}

.home-hero .slide-2 {
  background: $blue $hero-home-02 no-repeat center center;
  background-size: cover;
}
.home-hero .slide-3 {
  background: $blue $hero-home-03 no-repeat center center;
  background-size: cover;
}

.home-products .wrapper {
  max-width: none;
  padding: $base*2 0;
}

.home-products h2 {
  margin-bottom: $base;
}

.home-products a {
  @include btn;
}

.home-products p {
  @include line-height(22px);
  margin-bottom: $base;
}

.home-products .product-image {
  text-align: center;
}

.home-products .col-1-3:nth-child(1) {
  h2 {
    color: $green;
  }
  
  a {
    background: $green;
  }
}

.home-products .col-1-3:nth-child(2) {
  h2 {
    color: $blue;
  }

  a {
    background: $blue;
  }
}

.home-products .col-1-3:nth-child(3) {
  h2 {
    color: $red;
  }
  
  a {
    background: $red;
  }
}

.home-solutions {
  background: $grey $bg-home-solutions no-repeat center center;
  background-size: cover;
  padding: $base 0;

  @include bp-min-width($medium) {
    padding: $base*6 0;
  }
}

.home-solutions .wrapper {
  width: 100%;
  max-width: 1000px;
  padding: $base 5% $base*1.5;
  background: #fff;
  text-align: center;

  @include bp-min-width($medium) {
    padding: $base*2 5% $base*2.5;
  }
}

.home-solutions-logos {
  margin-bottom: $base;

  @include bp-min-width($small) {
    margin-bottom: $base*1.5;
  }
}

.home-solutions-content {
  margin-bottom: $base*2;
  font-style: italic;
}

.home-solutions .logo-northfield,
.home-solutions .logo-solutions {
  @include bp-min-width($medium) {
    display: inline-block;
    vertical-align: middle;
  }
}

.home-solutions .logo-northfield {
  position: relative;
  width: 218px;

  @include bp-max-width($medium) {
    margin: 0 auto 12px;
  }

  @include bp-min-width($medium) {
    margin-right: 30px;
  }

  &:after {
    @include bp-min-width($medium) {
      content: "";
      display: block;
      position: absolute;
      top: 6px;
      right: -20px;
      width: 2px;
      height: 40px;
      background: $lt-blue;
    }
  }
}

.home-solutions .logo-solutions {
  padding-top: 6px;
}

.home-solutions .logo-total-solutions {
  display: inline-block;
  width: 315px;
  max-width: 100%;
  height: 22px;
  fill: $lt-blue;
}

.solutions-list {
  margin-bottom: $base;
}

.solutions-list li {
  display: inline-block;
  width: 100%;
  margin-bottom: $base*2;

  @include bp-min-width($xsmall) {
    width: 48%;
  }

  @include bp-min-width($small) {
    width: 30%;
    margin-bottom: $base;
  }
}

.solutions-list li:last-child {
  margin-bottom: $base;
}

.solutions-list .icon {
  margin-bottom: 12px;
}

.solutions-list h4 {
  display: inline-block;

  @include bp-min-width($xsmall) {
    max-width: 160px;
  }
}

.solutions-list li:last-child h4 {
  @include bp-min-width($xsmall) {
    max-width: 140px;
  }
}

.home-solutions-links li {
  display: inline-block;
}

.home-solutions-links li:not(:last-child) {
  margin-right: 14px;

  @include bp-min-width($xsmall) {
    margin-right: 40px;
  }
}

.home-solutions-links .btn {
  @include btn-lt-blue;
}

.home-testimonials {
  text-align: center;
}

.home-testimonials .wrapper {
  padding: $base 0;

  @include bp-min-width($medium) {
    padding: $base*3 0;
  }
}

.home-testimonials .section-title {
  margin-bottom: $base;
  color: $green;

  @include bp-min-width($medium) {
    margin-bottom: $base*2;
  }
}

.home-testimonials .bx-wrapper {
  margin-bottom: $base*2;
}

.testimonial-quote {
  padding: 0 40px;

  @include bp-min-width($medium) {
    padding: 0 80px;
  }
  
  @include bp-min-width($large) {
    padding: 0 144px;
  }
}

.testimonial-quote p {
  font-style: italic;

  @include bp-min-width($medium) {
    @include font-size(27px);
    @include line-height(35px);
    display: inline;
  }
}

.testimonial-customer {
  font-weight: $bold;
}

.testimonials-logos {
  text-align: center;
}

.testimonials-logos li {
  display: inline-block;
  vertical-align: middle;
  width: 20%;

  @include bp-max-width($medium) {
    padding: 0 2%;
  }
}

.home-bottom-section.bottom-section {
  @include bp-min-width($medium) {
    padding: $base*7 0;
    background: $grey $bg-home-bottom no-repeat center center;
    background-size: cover;
  }
}

.home-bottom-section.bottom-section .wrapper {
  background: $red;
}

.home-bottom-section.bottom-section li:nth-child(1) a {
  @include btn-white-red;
}
