
.hero-solutions {
  background: $dk-grey $hero-solutions no-repeat center center;
  background-size: cover;
}

.hero.hero-solutions .wrapper {
  @include bp-min-width($medium) {
    padding-top: $base*4;
  }
}

.hero-solutions .logo-solutions {
  margin-bottom: $base;
}

.hero-solutions .logo-total-solutions {
  display: inline-block;
  width: 320px;
  height: 30px;
  max-width: 100%;
  fill: #fff;

  @include bp-min-width($medium) {
    width: 581px;
    height: 81px;
  }
}

[class^="solutions-section-"] h2 {
  color: $lt-blue;
}

[class^="solutions-section-"] a {
  @include btn;
  @include btn-white-lt-blue;
  @include btn-border-lt-blue;
}

[class^="solutions-section-"] .col-image {
  position: relative;
}

[class^="solutions-section-"] .col-image .icon {
  @include absolute-center;
  width: 80%;
  padding: 0 20px;
  text-align: center;
}

[class^="solutions-section-"] [class^="icon-"] {
  max-width: 100%;
}

.solutions-section-1 .col-image {
  background: $blue $solutions-01 no-repeat center center;
  background-size: cover;
}

.solutions-section-2 .col-image {
  background: $red $solutions-02 no-repeat center center;
  background-size: cover;
}

.solutions-section-3 .col-image {
  background: $green $solutions-03 no-repeat center center;
  background-size: cover;
}

.solutions-section-4 .col-image {
  background: $blue $solutions-04 no-repeat center top;
  background-size: cover;
}

.solutions-section-5 .col-image {
  background: $dk-grey $solutions-05 no-repeat center bottom;
  background-size: cover;
}

.solutions-section-5 p {
  margin-bottom: $base;
}
