
a {
  color: $blue;
}

@mixin btn {
  @include font-size(16px);
  display: inline-block;
  padding: 0.5em 1em 0.6em;
  color: #fff;
  font-family: $gridnik;
  font-weight: $bold;
  text-transform: uppercase;
  text-align: center;
}

@mixin btn-green {
  background: $green;

  &:hover {
    background: $lt-green;
  }
}

@mixin btn-lt-blue {
  background: $lt-blue;

  &:hover {
    background: $blue;
  }
}

@mixin btn-blue {
  background: $blue;

  &:hover {
    background: $lt-blue;
  }
}

@mixin btn-red {
  background: $red;

  &:hover {
    background: $dk-red;
  }
}

@mixin btn-white-red {
  background: #fff;
  color: $red;

  &:hover {
    background: $red;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
  }
}

@mixin btn-white-blue {
  background: #fff;
  color: $blue;

  &:hover {
    background: $blue;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
  }
}

@mixin btn-white-lt-blue {
  background: #fff;
  color: $lt-blue;

  &:hover {
    background: $lt-blue;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
  }
}

@mixin btn-white-green {
  background: #fff;
  color: $green;

  &:hover {
    background: $green;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
  }
}

@mixin btn-border-white {
  box-shadow: inset 0 0 0 2px #fff;

  &:hover {
    background: #fff;
    box-shadow: inset 0 0 0 2px #fff;
  }
}

@mixin btn-border-green {
  box-shadow: inset 0 0 0 2px $green;

  &:hover {
    background: $green;
    box-shadow: inset 0 0 0 2px $green;
    color: #fff;
  }
}

@mixin btn-border-blue {
  box-shadow: inset 0 0 0 2px $blue;

  &:hover {
    background: $blue;
    box-shadow: inset 0 0 0 2px $blue;
    color: #fff;
  }
}

@mixin btn-border-lt-blue {
  box-shadow: inset 0 0 0 2px $lt-blue;

  &:hover {
    background: $lt-blue;
    box-shadow: inset 0 0 0 2px $lt-blue;
    color: #fff;
  }
}

@mixin btn-border-red {
  box-shadow: inset 0 0 0 2px $red;

  &:hover {
    background: $red;
    box-shadow: inset 0 0 0 2px $red;
    color: #fff;
  }
}

.btn {
  @include btn;
}

.cta-link {
  @include font-size(18px);
  font-weight: $med;

  .icon-next {
    width: 8px;
    height: 18px;
    margin-left: 6px;
    fill: $green;
    vertical-align: middle;
  }
}
