
$black:     #363636;

$lt-green:  #38bc2b;
$green:     #2b852b;

$red:       #ff1c33;

$lt-blue:   #00c0f6;
$blue:      #1c8fde;

$lt-grey:   #f0f0f0;
$md-grey:   #cacaca;
$grey:      #59595b;
$dk-grey:   #59595b;
