$pad: 20px;

.row {
  @include bp-min-width($medium) {
    @include cf;
    margin: 0 -20px;
  }
}

.row [class^='col-'] {
  @include bp-max-width($medium) {
    margin-bottom: $base;
  }
  
  @include bp-min-width($medium) {
    float: left;
    padding: 0 $pad;
  }
}

.table-row {
  display: table;
}

.table-row [class^='col-'] {
  @include bp-min-width($medium) {
    display: table-cell;
  }
}

.col-3-4 {
  @include bp-min-width($large) {
    width: 75%;
  }
}

.col-2-3 {
  @include bp-min-width($large) {
    width: 66.66%;
  }
}

.col-1-2 {
  @include bp-min-width($large) {
    width: 50%;

    &:nth-child(2n+1) {
      clear: left;
    }
  }
}

.col-1-3 {
  @include bp-min-width($large) {
    width: 33.33%;
    
    &:nth-child(3n+1) {
      clear: left;
    }
  }
}

.col-1-4 {
  @include bp-min-width($medium) {
    width: 50%;
    margin-bottom: $base*1.5;
  }

  @include bp-min-width($large) {
    width: 25%;
  }
}
