
svg {
  @include global-transition;
}

svg:not(:root) {
  overflow: hidden;
}

[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
}

.icon-prev,
.icon-next {
  fill: $lt-green;
  width: 25px;
  height: 48px;

  @include bp-min-width($medium) {
    width: 46px;
    height: 88px;
  }
}

.solutions-list .icon-truck {
  width: 124px;
  height: 56px;
  fill: $lt-blue;
}

.solutions-list .icon-boxes {
  width: 62px;
  height: 61px;
  fill: $lt-blue;
}

.solutions-list .icon-price {
  width: 51px;
  height: 65px;
  fill: $lt-blue;
}

.solutions-list .icon-time {
  width: 64px;
  height: 60px;
  fill: $lt-blue;
}

.solutions-list .icon-fast-track {
  width: 54px;
  height: 64px;
  fill: $lt-blue;
}


[class^="solutions-section-"] .icon-truck {
  width: 310px;
  height: 140px;
  fill: #fff;
}

[class^="solutions-section-"] .icon-boxes {
  width: 155px;
  height: 133px;
  fill: #fff;
}

[class^="solutions-section-"] .icon-price {
  width: 127px;
  height: 163px;
  fill: #fff;
}

[class^="solutions-section-"] .icon-time {
  width: 160px;
  height: 145px;
  fill: #fff;
}

[class^="solutions-section-"] .icon-fast-track {
  width: 135px;
  height: 160px;
  fill: #fff;
}

.icon-file {
  width: 33px;
  height: 43px;
  fill: $red;
}

.icon-marker {
  width: 20px;
  height: 31px;
  fill: $blue;
}

.icon-mail {
  width: 22px;
  height: 22px;
  fill: $blue;
}

.icon-phone {
  width: 22px;
  height: 22px;
  fill: $blue;
}

.icon-fax {
  width: 22px;
  height: 22px;
  fill: $blue;
}
