
svg {
  @include global-transition;
}

svg:not(:root) {
  overflow: hidden;
}

[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
}

.icon-truck {
  width: 124px;
  height: 56px;
  fill: $lt-blue;
}

.icon-boxes {
  width: 62px;
  height: 61px;
  fill: $lt-blue;
}

.icon-price {
  width: 51px;
  height: 65px;
  fill: $lt-blue;
}

.icon-time {
  width: 64px;
  height: 60px;
  fill: $lt-blue;
}

.icon-fast-track {
  width: 54px;
  height: 64px;
  fill: $lt-blue;
}

.icon-prev {
  width: 46px;
  height: 88px;
  fill: $lt-green;
}

.icon-next {
  width: 46px;
  height: 88px;
  fill: $lt-green;
}

