body {
  background: $md-grey;
}

.container {
  background: #fff;

  @include bp-min-width($medium) {
    @include cf;
    max-width: 1550px;
    margin: 0 auto;
  }
}

.wrapper {
  @include cf;
  width: 90%;
  margin: 0 auto;

  @include bp-min-width($medium) {
    width: 94%;
    max-width: 1208px;
  }
  
  &.padded {
    padding: $base*1.5 0;

    @include bp-min-width($medium) {
      padding: $base*3 0;
    }
  }
}

.main {
  border-top: 2px solid $lt-grey;
}

.main-content {
  @include bp-max-width($medium) {
    margin-bottom: $base*2;
  }

  @include bp-min-width($medium) {
    float: left;
    width: 66.666%;
    padding-right: 40px;
  }
}

.sidebar-right {
  @include bp-min-width($medium) {
    float: right;
    width: 33.333%;
  }
}

.mobile-visible {
  display: none;

  @include bp-max-width($medium) {
    display: block;
    visibility: visible;
  }
}

.mobile-hidden {
  @include bp-max-width($medium) {
    display: none;
    visibility: hidden;
  }
}