body {
  background: $md-grey;
}

.container {
  background: #fff;

  @include bp-min-width($medium) {
    @include cf;
    max-width: 1550px;
    margin: 0 auto;
  }
}

.wrapper {
  @include cf;
  width: 90%;
  margin: 0 auto;

  @include bp-min-width($medium) {
    width: 94%;
    max-width: 1208px;
  }
  
  &.padded {
    padding: $base*1.5 0;

    @include bp-min-width($medium) {
      padding: $base*3 0;
    }
  }
}


.page-template-default .body {
  @include width-8-col;
}

.mobile-visible {
  visibility: visible;
}

.mobile-hidden {
  visibility: hidden;
}